/* Call For proposals Form Start */
#id_first_name, #id_last_name, #id_email, #id_phone, #id_website {
    width: 300px;
    border: 1px solid #bfbfbf;
}
#id_category, #id_audience_level {
    width: 340px;
    border: 1px solid #bfbfbf;
}
#id_talk_title{
    width: 400px;
    border: 1px solid #bfbfbf;
}
#id_description, #id_speaker_bio, #id_abstract, #id_what_will_attendees_learn, #id_speaker_and_talk_history, #id_links_to_past_talks {
    width: 400px;
    height: 200px;
    border: 1px solid #bfbfbf;
}
/* Call For proposals Form End */
.form-control.textarea {
   color: black;
   font-size: 16px;
}

.form-control.textinput,#id_email.emailinput, #id_speaker_bio.speakerbioinput,#id_website.urlinput {
    -moz-box-sizing: border-box;
    font-size: 16px;
    height: 100%;
    width: 100%;
    color: black;
}
#id_email.emailinput,#id_website.urlinput {
    width: 300px;
    height: 100%;
}

h1 {
    color: #32648e;
}
.blue-header{
    color: #32648e;
}
.text-center h1 {
    color: black;
}

.video-tagline, .video-moreinfo {
  display: block;
  color: white;
  font-weight: 300;
}

.video-tagline {
  margin: 25px 0 40px 0;
}

.video-header .uppercase {
  text-transform: none;
}
.video-header .uppercase strong {
  text-transform: uppercase;
  color: hsl(41, 97%, 70%);
}

.video-moreinfo {
  font-size: 25px;
  margin: 25px 0;
}
.video-moreinfo.countdown {
  margin-top: 50px;
}

@media(max-width: 767px) {
  .video-moreinfo {
    font-size: 20px;
  }
  .video-moreinfo.countdown {
    margin-top: 20px;
  }
  .countdown-amount {
    margin-bottom: 10px;
  }
  .countdown-section {
    margin: 0 2px;
  }
}

/* FAQ boxes */
.faq-box .more-link {
  text-align: center;
}
p.question {
    color: #32648e;
}

/* Schedule */

.sch-schedule:not(.sch-schedule-filtered) .sch-filter-list > li[data-filter=""] {
  background: #428bca;
  color: white;
}

.sch-day-title {
  font-weight: bold;
  margin: 22px 0 0 0;
  padding: 8px 0;
}

.sch-timeslot-time {
  margin: 8px 0 0 0;
  padding: 5px 0 5px 2px;
}

.sch-timeslot-slots {
  display: flex;
  flex-wrap: wrap;
}

.sch-timeslot-kind-talk .sch-description {
  transition: all 0.2s ease-out;
  transform: scaleY(1);
  transform-origin: top;
  max-height: 1000px
}

.sch-timeslot-kind-talk:not(:hover) .sch-description {
  transform: scaleY(0);
  max-height: 0;
}


/* Sponsor list */
.gold-sponsors .sponsor-list {
  /*background: hsl(0, 50%, 50%);
  color: white; */
}

.sponsor-list {
  display: flex;
  flex-wrap: wrap;
}

.sl-group .subscribe-2 {
  clear: both;
  background: "#f5f5f5";
}
.sl-group-heading p:first-child {
  margin-top: 20px;
}
.sl-group-heading h1:first-child {
  margin-top: 42px;
}

.sl-sponsor {
  flex-basis: 50%;
  padding: 20px;
  display: flex;
}

.sl-logo {
  flex: 0 0 200px;
  height: 200px;
}
.sl-logo img {
}

.sl-blurb {
  flex-grow: 1;
  margin: 0 10px;
}

.sl-blurb h3 a {
  color: hsl(0, 0%, 10%);
  font-size: 25px;
  font-weight: bold;
}

@media(max-width: 1000px) {
  .sponsor-list, .sl-sponsor {
    display: block;
  }

  .sl-blurb h3 {
    margin-top: 20px;
  }

  .sl-sponsor {
    text-align: center;
  }
  .sl-logo img {
    max-height: 250px
  }
  .sl-blurb {
    text-align: left;
  }
}

.sch-filters span {
  font-size: 16px;
}

.sch-filter-list {
  display: inline-block;
  margin-left: 10px;
}

.sch-filter-list > li {
  display: inline-block;
  padding: 10px 15px 11px 15px;
  margin: 0 5px 5px 0;
  line-height: 1;
  border: 3px solid #428bca;
  border-radius: 25px;
  color: #428bca;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease-out;
}

.sch-timeslot-slot {
  flex: 1 0 20%;
  margin: 0 5px 10px 5px;
  padding: 16px 20px;
  border: 2px solid hsl(0, 0%, 95%);
  border-radius: 4px;
  text-align: center;
}

.sch-timeslot-kind-keynote,
.sch-timeslot-kind-reception,
.sch-timeslot-kind-lunch,
.sch-timeslot-kind-lightning,
.sch-timeslot-kind-expo
{
  font-weight: bold;
  border: 0;
  background: hsl(50, 100%, 80%);
  border-radius: 6px;
}

@media(max-width: 991px) {
  .sch-timeslot-slot {
    flex-basis: 45%;
  }
}

.sch-timeslot-kind-talk {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  position: relative;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: left;
}

.sch-timeslot-kind-talk > * {
  flex-basis: 100%;
}

.sch-room, .sch-duration {
  flex: 1 0 auto;
  white-space: nowrap;
  font-size: 11px;
  font-weight: bold;
}

.sch-room {
  order: -100;
  text-align: right;
}

.sch-duration {
  order: -90;
}

.sch-duration::before {
  content: '\2022';
  margin: 0 .5em;
}

.sch-timeslot-kind-talk > h4 {
  font-weight: bold;
}

.sch-speaker {
  font-weight: bold;
  margin-top: 4px;
}

.sch-speaker-photo {
  width: 40px;
  height: 40px;
  overflow: hidden;
  position: absolute;
  top: 42px;
  right: 15px;
  border-radius: 50%;
}
.sch-speaker-photo img {
  height: 100%;
}

.sch-speaker-photo + h4,
.sch-speaker-photo + h4 + .sch-speaker {
  padding-right: 50px;
}

@media(max-width: 450px) {
  .schedule-page.container {
    padding-left: 0;
    padding-right: 0;
  }

  .sch-filters > span {
    display: block;
    margin-left: 10px;
  }

  .sch-timeslot-time {
    background: hsl(0, 0%, 95%);
    padding: 8px 10px;
    text-align: center;
  }

  .sch-timeslot-slots {
    display: block;
  }

  .sch-timeslot-slot {
    border: 0;
    padding: 15px 10px;
    margin: 0;
  }
  .sch-timeslot-slot:not(:first-child) {
    border-top: 1px solid hsl(0, 0%, 95%);
    border-radius: 0;
  }

  .sch-timeslot-kind-talk {
    margin: 0;
  }

  .sch-timeslot-kind-talk > h4 {
    order: -120;
    flex: 1 1;
  }

  .sch-duration, .sch-room {
    flex: 0 1;
    margin: 0;
    line-height: 1;
  }

  .sch-speaker-photo {
    left: 10px;
    top: 15px;
  }

  .sch-speaker-photo + h4,
  .sch-speaker-photo + h4 + .sch-speaker {
    padding: 0 0 0 46px;
  }

  .sch-timeslot-kind-keynote,
  .sch-timeslot-kind-reception,
  .sch-timeslot-kind-lunch,
  .sch-timeslot-kind-lightning,
  .sch-timeslot-kind-expo {
    margin: 0 0;
    border-radius: 0;
  }

  .sch-timeslot-special .sch-timeslot-kind-keynote,
  .sch-timeslot-special .sch-timeslot-kind-reception,
  .sch-timeslot-special .sch-timeslot-kind-lunch,
  .sch-timeslot-special .sch-timeslot-kind-lightning,
  .sch-timeslot-special .sch-timeslot-kind-expo {
    margin-bottom: 30px;
  }
}

/* SPONSOR PAGE PRICING TABLE */

/* Headings */
.pricely-chart .panel-heading {
    font-size: 22px;
    margin: 0;
    padding: 30px 20px;
    text-align: center;
    background: #f5f5f5;
    height: 130px;
}

.pricely-chart-one h3 span {
    display: block;
    font-size: 13px; font-weight: 300;
    letter-spacing: 0.5px;
    padding: 5px 0 0;
    text-transform: uppercase;
}

.pricely-label {
    display: block;
    font-size: 18px;
    color: #000;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0 auto 10px;
    text-transform: uppercase;
}
/* Features */
.pricely-first-heading .pricely-label {
    font-weight: 600;


}
.pricely-figure {
    padding: 5px 0 5px;
    position: relative;
}
.pricely-currency {
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    color: #000;
    position: absolute;
    top: 7px;
}
.pricely-amount {
    display: inline-block;
    font-size: 20px;
    color: #000;
    font-weight: 400;
    line-height: 5px;
    padding: 0 0 0 17px;
}
/*Select your plan section*/
.pricely-foreword {
    display: block;
    font-family: 'Karla', sans-serif;
    font-size: 14px;
    font-style: italic;
    padding: 0;
}
.pricely-paragraph {
    font-size: 14px;
    line-height: 20px;
    margin: 20px;
    text-align: left;
}

/* Icons */
.pricely-pro .glyphicon {
    display: block;
    text-align: center;
}
.pricely-pro .glyphicon {
    color: #428bca;
}


/*===== Price Chart Specific =====*/

    .pricely-pro .panel-heading {
        border-radius: 0;
        min-height: 130px;
    }

    .pricely-pro li li.list-group-item {
        border-left-width: 1px;
        border-radius: 0;
        min-height: 46px;
    }
    .pricely-pro li li.list-group-item:nth-child(even) {

        background: #f5f5f5;
    }
    /*Additional row colums */
    .pricely-pro li li.list-group-item:nth-last-child(1) {
        background: #fef8eb;
    }
    .pricely-pro li.pricely-first-heading li.list-group-item {
        border-left-width: 2px;
        border-radius: 0;
        min-height: 46px;

    }

    .pricely-pro {
        list-style: none;
         margin: 0;
         padding: 0;
     }

    .pricely-pro li.pricely-first-heading, .pricely-pro li.pricely-inner
    {
        padding: 0;
    }

    .pricely-pro .panel-heading {
        border-right: 1px solid #ddd;
        border-top: 1px solid #ddd;
        background: #FBBD4A;
    }

    .pricely-pro li:first-child .panel-heading {
        border-left: 1px solid #ddd;
        background: #428bca;

    }

    .pricely-professional li.list-group-item  .feature-hide {
        display: none;
    }
    .pricely-professional li .glyphicon {
        display: inline-block;
    }
    .pricely-professional li  .pricely-paragraph .glyphicon {
        display: block;
    }
    .pricely-professional li.list-group-item {
        text-align: center;
    }
    @media screen (max-width:1199px) and (min-width: 992px) {
        input#id_meetup_talk_1 {
            background: red!important;
        }
    }

@media screen and (min-width:0\0) { /* Specific to IE */

    .pricely-currency {
        display: inline-block;
        font-size: 20px;
        font-weight: 400;
        position: relative;
        top: -30px;
    }
    .pricely-amount {
        font-size: 18px;
        line-height: 65px;
    }
}

@media screen and (max-width: 992px) {

    .pricely-pro li li.list-group-item {
        border-left-width: 1px;
        text-align: center;
    }

    .pricely-chart .panel-heading {
        padding: 15px 10px;
        background: #428bca;
    }

    .pricely-pro .panel-heading {
        border-left: 1px solid #ddd;
        min-height: inherit;
    }

    .pricely-professional li.list-group-item .feature-hide {
        display: inline;
        padding: 0 0 0 10px;
    }

    .pricely-pro li.pricely-first-heading {
        display: none;
    }

    .pricely-pro .glyphicon {
        display: none !important;
    }

    .pricely-foreword, .pricely-label {
        display: inline-block;
        margin: 0;
    }
    .pricely-foreword:before {
        content: " ";
    }

}
table th {
    width: 185px;
    text-align: center;
    border-right: 1px solid #ccc;
    color: #ffffff;
}
tr {
    border: 1px solid #ccc;
}
 .last-column{
  border-right: none;
}
table tr {
    background: #428bca;
}
.first-column {
    background: #FBBD4A;
    color: black;
}

.tickets {
    margin-top: 40px;
}
#pie1 {
    width: 100%;
    margin-left: 8%;
}
input#mce-EMAIL.form-email.signup-email-field{
    width: 235px;
    height: 48px;
    border: none;
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 12px 20px;
    font-size: 14px;
    background: rgba(0, 0, 0, 0.2);
    color: black;
}
.form-email.signup-email-field::placeholder {
    color: white;
    font-size: 16px;
    margin: 0px auto;
    min-width: 100%;
    max-width: 100%;
    text-align: center;
}
div.counter-box {
    position: relative;
}
span.count {
    margin: 0;
    position: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#FBBD4A;
    font-size: 80px;
    font-weight: 700;
    line-height: 100px;
}
p.title {
    margin: 0;
    position: block;
    top: 50%;
    left: 50%;
    font-size: 16px;
    line-height: 16px;
    color: #FBBD4A;
}
section.topics.duplicatable-content{
    padding-top: 150px;
}
section.topics.duplicatable-content.home-page {
    padding-top: 72px;

}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}
.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.youtube {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: all 200ms ease-out;
    cursor: pointer;
    padding-bottom: 56.25%;
}

.youtube .play {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAERklEQVR4nOWbTWhcVRTHb1IJVoxGtNCNdal2JYJReC6GWuO83PM/59yUS3FRFARdFlwYP1CfiojQWt36sRCUurRIdVFXIn41lAoVdRGrG1M01YpKrWjiYmaSl8ybZJL3cd+YA//NLObd3++eO8x79z5jSq5Gw+8kov0AP8vMR5l1BtBZQM4B8ks75wCdZdYZZj5qLZ4hov2Nht9Z9vhKKSIaB/gI4M4w62KeAO6Mte4lYOq20FxrlqqOibhHmeWbvNC9ZfDX1mLae391aN6limO/gwgvAPJbWeAZuSDingdwXTBw7/0IsyaA/Fkh+KqOkD+YNfHej1QKD+y7iVlOhgLvFqFfNJvNGyuBJ+KDAF8MDd0tgS8y64OlgSdJMsysL4cG7SOHkyQZLhTee7+d2R2rAVy/S+Jd7/32ouBHAP4gNNRGQyTHc/84NhqNywZp5rvjjnnvt21aABFeCQ+RLwAf2hQ8s7sv9OCLk6AHNgQvIrvbfzKCD76g/O6cu7lf/iER/aQGgy448pExZmhdegAPhR9sObFWH1gT3lp7DaA/5bkIgJhZPgsNmz02novj+KqeApj1ubwXWe4kdyeznAgNvTpE/HQmvKqOMeuFogTUVQSRno+iaLRLAJF7uIgL9O4ubgL8aWgB7S44mNX+35YpICUiAvS9sBLkq1WzT+NFffl6AuoiApi6NT37h6sWkBIRZGkQ8YtLgyji6e1mBYTqCEBPG2Naz+0BWQgtoGoRgCzEsd9hAN1X5BfnFZASUfrSAFQNsyZ1FJASUVpHiLinDJG8U2cBZYogkrcNs5waBAGdstbeU9zdqpw0gPwwSAI6VUxHyFlDpOcHUUBBIuYNs14aZAE5RVwyzPr3/0EAEY0TyfGNjBWQvwZ +CTSbehfAH29mrID8bET0+0EUkAd8WYDOmqJ3ecsG30yr9wqRfm6Y+a1BEFDEjHfHvWmY9ck6CygHvBVr8Xhtb4ZE5HZA3y8DvBNA1TjnrmXWf+sioMwZX5V/VHXMGGMMoKdDCxCRvRWBdzKzdHEO+EisilbPyopHYqp6S9UCAsz4iojI7hUDAtyXVQgIDd6KnOoaWNkbI6FaPSuZGyMArsi7MZoloB4zviI/Nhr3X95jltwTRQmoIfgisy5ai+me67OI7fE4nrqjrqfK1t0eby0FPRB6oGVlchL3rgnfrq19RKbVBdhV9IOSwJmfmJi4vi/4ThERitwyCxVAFqydshuCX5awhQ9KtmuIWd8IDZED/nXT77rvVVv6sHRKwjYi91poqP7Dr+Y6JJ1VSZIMA3wkPNy6bX+o8Bcm0sXMdwM8Fxo0A3xORPaWBp6uPXsmbxCRD0NDL0dOANhVCXy6iAjMcjbcrMt3RITKwdMVRdFo+y5yvkL4eWZ+zHt/ZVD4dEVRNGotpst+dZZZH8k86lqn2pIvT/eqrNfn2xuyqYPZ8mv7s8pfn/8Pybm4TIjanscAAAAASUVORK5CYII=") no-repeat center center;
    background-size: 64px 64px;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: .8;
    filter: alpha(opacity=80);
    transition: all 0.2s ease-out;
}

.youtube .play:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.btn {
  padding-left: 15px;
  padding-right: 15px;
}

tito-widget .tito-wrapper {
  background: white;
}

tito-widget .tito-ticket-description {
  color: #808080;
}

.speaker {
  width: 240px;
}

.speaker .image-holder {
  display: inline-block;
}

.sponsor-footer-list > .row {
  display: flex;
}
.sponsor-footer-list > .row > * {
  position: relative;
}

.sponsor-footer .thumbnail {
  display: flex;
  align-items: center;
  height: calc(100% - 20px);
}

.nav-bar .nav-buttons a {
  color: #333333;
}

@media(min-width: 769px) {
  .overlay-nav {
    padding-top: 0;
  }

  .nav-bar {
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
  }
  .nav-logo .logo {
    position: static;
    margin: 5px 0 5px 16px;
  }

  .nav-collapse {
    display: flex;
    justify-content: flex-end;
    flex: 1 1;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
  }
  .nav-collapse li {
    position: static;
    white-space: nowrap;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .nav-collapse {
    margin-right: 17px;
  }
  .nav-collapse li {
    margin: 0 0 0 32px;
  }
  .nav-collapse li a {
    padding-bottom: 0;
  }

  .nav-bar .nav-buttons {
    display: flex;
    align-items: center;
    margin-right: 15px;
  }
  .nav-bar .nav-buttons > * {
    margin-left: 15px;
    position: static;
  }
  .nav-bar .nav-buttons a {
    color: #333333;
  }
  .nav-bar .nav-buttons .sidebar-menu-toggle {
    margin-top: 1px;
  }
}

@media(max-width: 768px) {
  .overlay-nav {
    padding: 12px 24px 24px 24px;
  }

  .nav-bar .logo {
    position: static;
    margin-left: -12px;
  }

  .nav-bar .menu {
    margin-top: 19px;
  }

  .mobile-menu-toggle {
    right: 12px;
  }

  .social-link {
    margin-right: 18px;
  }
}

@media(max-width: 767px) {
  .topic {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .topic h3 {
    position: static;
    margin-left: 12px;
    flex: 1 1;
    white-space: wrap;
  }
  .topic p {
    flex-basis: 100%;
  }
  .topics .container .container {
    margin: 0;
    padding: 0;
  }
}
