django-appconf==1.0.1
django-bootstrap-form==3.2.1
django-columns==0.1.0
django-crispy-forms==1.6.1
django-generic-flatblocks==1.1.1
django-jsonfield==1.0.1
django-markup==1.2
django-markitup==2.2.2
django-model-utils==2.4
django-ordered-model==1.4.1
django-reversion==1.10.1
django-sitetree==1.5.1
django-taggit==0.18.0
django-timezone-field==2.0
django-timezones==0.2
django-user-accounts==2.0
Django==1.9.2
easy-thumbnails==2.3
eventlog==0.8.0
git+https://github.com/pybay/symposion.git#egg=symposion
html5lib==0.9999999
Markdown==2.6.5
metron==1.3.5
olefile==0.44
Pillow
pinax-boxes==2.1.2
pinax-theme-bootstrap==5.6.0
pytz==2015.7
rollbar==0.13.2
six==1.10.0
model-mommy==1.3.2
