Hi {first_name},

Thank you for your PyBay talk submission!

The review committee will begin reviewing submissions after the Call For Proposals ends. We expect to let you know whether your talk has been selected within a few weeks of the closing date.

If you have any questions, please contact us.


Thanks for your interest in PyBay - and good luck!
_The PyBay team_


Information submitted for this talk proposal
--------------------------------------------

- **Name:** {first_name} {last_name}

- **Email:** {email}

- **Phone number:** {phone}

- **Speaker Profile:**  {speaker_bio}

______________________________________________

- **Talk Title:** {talk_title}
- **Themes:** {themes}
- **Level:** {audience_level}
- **Length:** {talk_length}
- **Description:** {description}
- **Abstract:** {abstract}
- **What attendees will learn:** {what_attendees_will_learn}
- **Speaker and talk history:** {speaker_and_talk_history}
- **Speaker website:** {website}
- **Talk links:** {links_to_past_talks}
- **Present at a Meetup?:** {meetup_talk}
