Hi {first_name},

Thank you for your PyBay talk submission!

The review committee will begin reviewing submissions after the Call For Proposals ends on {cfp_close_date}.
We expect to let you know whether your talk has been selected a few weeks after the closing date.

If you have any questions, please contact us.

Thanks for your interest in PyBay, and good luck!
- The PyBay team


Information submitted for this talk proposal
--------------------------------------------

Name: {first_name} {last_name}
Email: {email}
Speaker Profile: {speaker_bio}
Talk Title: {talk_title}
Category: {category}
Level: {audience_level}
Description: {description}
Abstract: {abstract}
What will attendees learn: {what_will_attendees_learn}
Speaker and talk history: {speaker_and_talk_history}
Talk links: {links_to_past_talks}

