{% load get_speaker_url_with_fallback %}
<div class="row">
    <div class="col-sm-12">
        <h1 class="blue-header" style="margin-top:42px"><strong>Some of our speakers</strong></h1>
    </div>
</div>
<div class="row speakers-row">
  {% for featured in speakers %}
  <div class="col-md-3 col-sm-6 speaker-column">
    <div class="speaker">
      <div class="image-holder">
        <img width="240" class="background-image" src="{% speaker_url_with_fallback featured.speaker 240 %}" alt="{{ featured.speaker.name }}">
        {% if featured.speaker.twitter_username %}
        <div class="hover-state text-center preserve3d">
          <div class="social-links vertical-align">
            <a href="http://twitter.com/{{ featured.speaker.twitter_username }}"><i class="icon social_twitter"></i></a>
          </div>
        </div>
        {% endif %}
      </div>
      <span class="speaker-name">{{ featured.speaker.name }}</span>
      {{ featured.description|safe|linebreaks }}
    </div>
  </div>
  {% endfor %}
</div>
