.jobs {

    .page-header{
        font-size: 24px;
        border-bottom: 0px;
    }
    h2{
        font-size:20px;
        margin: 2px 0;
    }
    h3{
        font-size:18px;
        margin:2px 0;
    }
    h4{
        font-size:14px;
        font-weight: 500;
        margin:5px 0;
    }
    p{
        font-height: 14px;
        line-height: 18px;
        margin: 5px 0px;
    }
    .btn{
        a{
            color: #FFF !important;
        }
        &:hover{
            color: #FFF !important;
        }
        border:0px;
    }
    .padding-sm{
        padding: 2px 0px;
    }
}
