.speaker-page {

  .speaker-list-row {
    margin-bottom: 50px;
  }

  .lead ul,
  .lead ol {
    padding-left: 20px;
    font-size: 14px;
    padding-bottom: 10px;
  }

  .lead ul {
    list-style: disc;
  }

}
