.countdown {
  display: flex;
  justify-content: center;
}
.countdown-part {
  display: flex;
  flex-direction: column;
  margin: 0 .5em;
  flex-basis: 5em;
}
.countdown-count {
  font-size: 2em;
  font-weight: bold;
  line-height: initial;
}
.countdown-label {
  text-transform: uppercase;
}


@media(max-width: 767px) {
  .countdown-amount {
    margin-bottom: 10px;
  }
  .countdown-section {
    margin: 0 2px;
  }
}
