/* FAQ boxes */
.registration-page section.faq-box,
.sponsor-prospectus-page section.faq-box {
  background: transparent;
}

.faq-box .more-link {
  text-align: center;
}

p.question {
    color: #32648e;
}
