.sticky-nav {
  z-index: 100;
}

.nav-bar .nav-buttons a {
  color: #333333;
}

@media(min-width: 769px) {
  .overlay-nav {
    padding-top: 0;
  }

  .nav-bar {
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
  }
  .nav-logo .logo {
    position: static;
    margin: 5px 0 5px 16px;
  }

  .nav-collapse {
    display: flex;
    justify-content: flex-end;
    flex: 1 1;
    margin-right: 17px;
  }
  .nav-collapse > li {
    position: relative;
    top: 0;
    white-space: nowrap;
    height: 55px;
    display: flex;
    align-items: center;
    margin: 0 0 0 32px;
  }
  .nav-collapse > li a {
    padding-bottom: 0;
  }
  .nav-collapse > li > ul + a::after {
    content: " \25bc";
  }
  .nav-collapse > li > ul {
    opacity: 0;
    visibility: hidden;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 100%;
    left: -16px;
  }
  .nav-collapse > li:last-child > ul {
    left: auto;
    right: -16px;
    text-align: right;
  }
  .nav-collapse > li:hover > ul {
    opacity: 1;
    visibility: visible;
    padding-bottom: 10px;
  }
  .nav-collapse > li > ul > li {
    float: none;
    padding: 7px 16px;
    margin: 0;
  }
  .nav-collapse > li > ul > li:first-child {
    padding-top: 0;
  }

  .nav-bar .nav-buttons {
    display: flex;
    align-items: center;
    margin-right: 15px;
  }
  .nav-bar .nav-buttons > * {
    margin-left: 15px;
    position: static;
  }
  .nav-bar .nav-buttons a {
    color: #333333;
  }
  .nav-bar .nav-buttons .sidebar-menu-toggle {
    margin-top: 1px;
  }
}

@media(max-width: 768px) {
  .overlay-nav {
    padding: 12px 24px 24px 24px;
  }
  .substicky {
    top: 67px;
  }

  .nav-bar .logo {
    position: static;
    margin-left: -12px;
  }

  .nav-bar .menu {
    margin-top: 19px;
  }

  .menu > li > ul {
    margin-bottom: 28px;
  }

  .menu > li > ul + a {
    display: none;
  }

  .mobile-menu-toggle {
    right: 12px;
  }

  .social-link {
    margin-right: 18px;
  }
}
