{% extends 'new/base.html' %}
{% load static %}

{% block content %}
<!--Event Focus Starts -->
    <a id="about" class="in-page-link"></a>

    <section class="topics duplicatable-content">

        <div class="container">
				<div class="row">
                    <div class="col-sm-12">
						<h1>Event Focus</h1>
                    </div>
				</div><!--end of row-->

				<div class="row">
				    <div class="col-md-4 col-sm-6">
				        <div class="topic">
				            <i class="pe-7s-browser"></i>
				            <h3><b>Stay relevant</b></h3>
				            <p class="lead">
				                It is so easy to get content and become obsolete as technology advances.
                                <br/><br/>
                                That’s why PyBay brings together the most impactful technologies and influential speakers today so you can get up-to-date in the shortest amount of time.  Whether you are interested in web technologies, data, devops, python internals or performance, whether you are just starting out or a seasoned developer, we got you covered to stay on top of the game.
                                <br/><br/>
                                And if you are in SF/Bay Area, save big on travel cost as the experts come to us.  Hurray!
                            </p>
				        </div>
						</div>
                    <div class="col-md-4 col-sm-6">
				        <div class="topic">
				            <i class="pe-7s-share icon-large"></i>
				            <h3><b>Get brilliant</b></h3>
				            <p class="lead">
				                There is a shortage of skills and people with great attitudes.  Be the solution.
                                <br/><br/>
                                In addition to 40 talks and 20 Lightning talks, PyBay 2017 is adding 8 pre-conference workshops (full-day and half day) for those who want to go the extra mile to dive deeper.  Better yet, share what you’ve learned to cement the knowledge or impress upon the sponsors that are looking to hire during the main conference days.
                                <br/><br/>
                                Pray that a mutant from Xavier appears or invest in yourself and your staff.
                            </p>
				        </div>
				    </div>
                    <div class="col-md-4 col-sm-6">
				        <div class="topic">
				            <i class="pe-7s-target icon-large"></i>
				            <h3><b>Code together, laugh together</b></h3>
				            <p class="lead">
								Aside from the talks and the food, the hallway track was the most loved feature at PyBay 2016.
                                <br/><br/>
                                Imagine yourself diving deep with the luminaries or ‘former' username, coding with a new buddy or mentoring someone at Hacker Lounge because you are inspired, sharing your passion project at Open Spaces, refreshing your mind and body with yoga, laughing out loud at improv, playing some tunes under the sun…
                                <br/><br/>
                                The Python Community is great, we dare you to make it even better!
				            </p>
						</div>
				    </div><!--end of individual topic-->
					</div><!--end of row-->

        </div><!--end of container-->
    </section>
    <!--Event Focus Ends -->


    <!--Video 2016 Starts -->
    <section >
        <div class="container">
				<div class="row">
                    <div class="col-md-7 col-sm-6">
				        <div class="embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/bKMUUiioi5g"></iframe>
                        </div>
                    </div>
				    <div class="col-md-5 col-sm-6">
				        <h1>PyBay 2016 was a rousing success, check out the highlights from last year's event.</h1>
				        <p class="lead">
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias.
				        </p>
				        <a href="#" class="btn"><i class="icon social_twitter">&nbsp;</i> Follow PyBay</a>
				    </div>
				 </div><!--end of row-->
        </div><!--end of container-->
    </section>
        <!--Video  2016 Ends -->

    <!--Interested in Speaking at Meetup Start -->
    <section class="strip-divider primary-overlay">
        <div class="background-image-holder parallax-background">
            <img class="background-image" alt="About Image" src="{% static 'img/11.jpg' %} ">
        </div>
        <div class="video-wrapper">
            <video autoplay muted loop>
				<source src="{% static 'video/video.webm' %}" type="video/webm">
				<source src="{% static 'video/video.mp4' %}" type="video/mp4">
				<source src="{% static 'video/video.ogv' %}" type="video/ogg">
            </video>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
				    <h1 class="text-white">Interested in speaking at PayBay 2017? <a href="cfp.html">Get in touch</a></h1>
				</div>
            </div><!--end of row-->
        </div><!--end of container-->
    </section>
        <!--Interested in Speaking at Meetup End -->

        <!--Previous Meetup Starts -->
    <section class="lightbox-gallery preserve-3d">
        <div class="gallery-holder">
            <ul>
                <li>
				    <a href="{% static 'img/lb1.jpg' %}" class="lightbox-link-mrv" data-lightbox="true" data-title="PyBay 2016">
				        <div class="background-image-holder">
				            <img class="background-image" alt="Lightbox Image" src="{% static 'img/lb1.jpg' %}">
				        </div>
				    </a>
				</li>
				<li>
				    <a href="{% static 'img/lb2.jpg' %}" class="lightbox-link-mrv" data-lightbox="true" data-title="PyBay 2016">
				        <div class="background-image-holder">
                            <img class="background-image" alt="Lightbox Image" src="{% static 'img/lb2.jpg' %}">
                        </div>
				    </a>
				</li>
				<li>
				    <a href="{% static 'img/lb3.jpg' %}" class="lightbox-link-mrv" data-lightbox="true" data-title="PyBay 2016">
				        <div class="background-image-holder">
				            <img class="background-image" alt="Lightbox Image" src="{% static 'img/lb3.jpg'     %}">
				        </div>
				    </a>
				</li>
				<li>
				    <a href="{% static 'img/lb4.jpg' %}" class="lightbox-link-mrv" data-lightbox="true" data-title="PyBay 2016">
				        <div class="background-image-holder">
				            <img class="background-image" alt="Lightbox Image" src="{% static 'img/lb4.jpg' %}">
				        </div>
				    </a>
				</li>
				<li>
				    <a href="{% static 'img/lb5.jpg'%}" class="lightbox-link-mrv" data-lightbox="true" data-title="PyBay 2016">
				        <div class="background-image-holder">
				            <img class="background-image" alt="Lightbox Image" src="{% static       'img/lb5.jpg'%}">
				        </div>
				    </a>
				</li>
				<li>
				    <a href="{% static 'img/lb6.jpg'%}" class="lightbox-link-mrv" data-lightbox="true" data-title="PyBay 2016">
				        <div class="background-image-holder">
				            <img class="background-image" alt="Lightbox Image" src="{% static 'img/lb6.jpg'%}">
				        </div>
				    </a>
				</li>
				<li>
                    <a href="{% static 'img/lb7.jpg' %}" class="lightbox-link-mrv" data-lightbox="true" data-title="PyBay 2016">
				        <div class="background-image-holder">
				            <img class="background-image" alt="Lightbox Image" src="{% static 'img/lb7.jpg' %}">
				        </div>
				    </a>
				</li>
				<li>
				    <a href="{% static 'img/lb8.jpg' %}" class="lightbox-link-mrv" data-lightbox="true" data-title="PyBay 2016">
				        <div class="background-image-holder">
				            <img class="background-image" alt="Lightbox Image" src="{% static 'img/lb8.jpg' %}">
				        </div>
				    </a>
				</li>
				<li>
				    <a href="{% static 'img/lb1.jpg' %}" class="lightbox-link-mrv" data-lightbox="true" data-title="PyBay 2016">
				        <div class="background-image-holder">
				            <img class="background-image" alt="Lightbox Image" src="{% static 'img/lb1.jpg' %}" >
				        </div>
				    </a>
				</li>
				<li>
                    <a href="{% static 'img/lb2.jpg' %}" class="lightbox-link-mrv" data-lightbox="true" data-title="PyBay 2016">
				        <div class="background-image-holder">
				            <img class="background-image" alt="Lightbox Image" src="{% static 'img/lb2.jpg' %}">
				        </div>
				    </a>
				</li>
            </ul>
        </div>
		<div class="container">
            <div class="row">
				<div class="col-sm-12">
				    <div>
				        <i class="icon pe-7s-camera text-white"></i>
				        <h1 class="text-white">Memories from PyBay 2016</h1>
				        <span class="lead text-white">Follow this year's event on <strong><a class="text-white" href="#">Instagram</a></strong></span>
				    </div>
				</div>
            </div><!--end of row-->
        </div><!--end of container-->
    </section>
        <!--Previous Meetup Ends -->

        <!--Subscribe to stay tune Starts -->
    <section class="subscribe-2">
		<div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
				    <i class="icon pe-7s-pen"></i>
				    <i class="icon pe-7s-mail-open-file"></i>
				    <i class="icon pe-7s-paper-plane"></i>
				    <h1 class="large-h1">Subscribe to stay informed</h1>
				</div>
            </div><!--end of row-->
            <div class="row">
				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
				    <form class="email-subscribe mail-list-signup">
				        <div class="col-sm-7">
				            <input class="form-email signup-email-field" type="text"    placeholder="Enter your email address">
                        </div>
                        <div class="col-sm-5">
                        <input class="btn" type="submit" value="Subscribe">
                        </div>
                        <div class="col-sm-12 text-center">
                        <span>*We never share your email with 3rd parties</span>
				        </div>
				        <iframe class="mail-list-form" srcdoc=""></iframe>
				    </form>
				</div>
            </div><!--end of row-->
        </div><!--end of container-->
    </section>
    <!--Subsribe to stay Tune Ends -->
{% endblock content %}
