{% load staticfiles %}
{% load sponsors_list %}
{% load generic_flatblocks %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>PyBay2020</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'new/img/pybayfav.ico' %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'new/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="all"/>
        <link href= "{% static 'new/css/flexslider.min.css' %}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{% static 'new/css/elegant-icons.min.css' %}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{% static 'new/css/pe-icon-7-stroke.min.css' %}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{% static 'new/css/lightbox.min.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'new/css/theme-hot.css' %}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{% sass_src 'pybay/sass/style.scss' %}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{% static "font-awesome/css/font-awesome.css" %}" rel="stylesheet">
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        <!--[if gte IE 9]>
            <link rel="stylesheet" type="text/css" href="new/css/ie9.css" />
        <![endif]-->
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>

        {% static 'new/img/PyBay2021-WhiteBackground.png' as share_image %}
        {% with share_image_width=506 share_image_height=253 share_title="PyBay 2021" share_desc="Like the always-sold-out PyCon, PyBay 2021 will be one day of fun geeking out with awesome developers on one of your favorite topics - Python!" %}
        {% block share_card %}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@py_bay">
        <meta name="twitter:title" content="{{ share_title }}">
        <meta name="twitter:description" content="{{ share_desc }}">
        <meta name="twitter:image" content="{{ CANONICAL_HOST }}{{ share_image }}">

        <meta property="fb:app_id" content="252653391896401" />
        <meta property="og:url" content="{{ CANONICAL_HOST }}{{ request.get_full_path }}" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="{{ share_title }}" />
        <meta property="og:description" content="{{ share_desc }}" />
        <meta property="og:image" content="{{ CANONICAL_HOST }}{{ share_image }}" />
        <meta property="og:image:width" content="{{ share_image_width }}" />
        <meta property="og:image:height" content="{{ share_image_height }}" />

        <meta name="description" content="{{ share_desc }}" />
        {% endblock %}
        {% endwith %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-103696318-1', 'auto');
              ga('send', 'pageview');
        </script>

        {% gblock "base_header_extra_block" for "gblocks.Text" %}
    </head>

    {% block header %}
    <body class="{% block body_class %}{% endblock %}">
        {% gblock "base_body_extra_block" for "gblocks.Text" %}

        <a id="top"></a>

        <div class="nav-container">
            <nav class="overlay-nav sticky-nav">
                <div class="nav-bar">
                    <div class="nav-logo">
                        <a href="{% url 'home' %}">
                            <img alt="Logo" class="logo" src="{% static 'new/img/PyBay2021-Transparent.png' %}">
                        </a>
                    </div>
                    {% load menu_tags %}
                    {% menu %}
                    <div class="nav-buttons">
                        <div class="social-link">
                            <a href="https://twitter.com/py_bay" target="_blank" rel="noopener noreferrer"><i class="icon social_twitter"></i></a>
                        </div>
                        <div class="social-link">
                            <a href="https://www.facebook.com/PyBayConf" target="_blank" rel="noopener noreferrer"><i class="icon social_facebook"></i></a>
                        </div>
                        <div class="mobile-menu-toggle"><i class="icon icon_menu"></i></div>
                    </div>
                </div>

                <div class="bottom-border"></div>
                <div class="sidebar-menu">
                    <img alt="Logo" class="logo" src="{% static 'new/img/PyBay2021-Transparent.png' %}">
                <div class="bottom-border"></div>
            </nav>
        </div><!--end nav container-->
        {% endblock header %}
        {% block headeroption %}

     {% endblock headeroption %}

    {% block content %}
    {% endblock content %}

{% block subscribe %}
{% endblock subscribe %}

     {% block pythonfans %}
     {% endblock pythonfans %}
     {% block footer %}
     <!--Footer Starts-->
        <div class="footer-container">
            <footer class="classic">
                <div class="container">
                    <div style="margin-bottom: 100px;">
                        <div class="row text-center">
                                                    <h1 class="text-center" style="color: black;">{% gblock "index_produdly_sponsored_by" for "gblocks.Text" %}</h1>
                        </div>
                        {% sponsors_footer %}
                        <div class="row text-center">
                                                    <p>Interested in becoming a sponsor? <a href={% url 'pybay_sponsors' %}>Check out our options</a></p>
                        </div>
                                        </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <ul class="menu">
                                <li><a href="{% url 'pybay_coc' %}">CODE OF CONDUCT</a></li>
                                <li><a href="mailto:info@pybay.com" target="_blank" rel="noopener noreferrer">Contact Us</a></li>
                                <li><a class="inner-link back-to-top" href="#top">Back To Top</a></li>
                            </ul>
                            {% include "frontend/subscribe_form.html" %}
                        </div>
                        <div class="col-sm-8">
                            <span class="lead color-heading">About SF Python</span>
                            <p>
                                PyBay is offered by SF Python, a volunteer-run organization dedicated to building a stronger Python developer community. We do this by organizing fun events that encourage developers to meet like-minded folks, share what they know, and learn from each other. It’s hard work, but seeing people grow and make new friends and connections makes it worth it! We love hearing about companies making hires and migrating to better technologies as a result of our gatherings. We're also grateful to receive support for our work, financially and otherwise. We look forward to delighting you at PyBay and at other <a href="https://www.meetup.com/sfpython/" target="_blank" rel="noopener noreferrer">SF Python events</a> throughout the year.
                            </p>
                        </div>
                    </div><!--end of row-->
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <ul class="social-profiles">
                                <li><a href="https://twitter.com/py_bay" target="_blank" rel="noopener noreferrer"><i class="icon social_twitter"></i></a></li>
                                <li><a href="https://www.facebook.com/PyBayConf" target="_blank" rel="noopener noreferrer"><i class="icon social_facebook"></i></a></li>
                            </ul>
                        </div>
                    </div><!--end of row-->
                </div><!--end of container-->
            </footer>
        </div>
        <!--Footer Ends -->
        {% endblock footer %}

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" ></script>
        <script src="{% static 'new/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'new/js/skrollr.min.js' %}"></script>
        <script src="{% static 'new/js/spectragram.min.js' %}"></script>
        <script src="{% static 'new/js/flexslider.min.js'%}"></script>
        <script src="{% static 'new/js/jquery.plugin.min.js' %}"></script>
        <script src="{% static 'new/js/lightbox.min.js' %}"></script>
        <script src="{% static 'new/js/smooth-scroll.min.js'%}"></script>
        <script src="{% static 'new/js/twitterfetcher.min.js' %}"></script>
        <script src="{% static 'new/js/placeholders.min.js'%}"></script>
        <script src="{% static 'new/js/scripts.js'%}"></script>
        <script src="{% static 'new/js/tito-subscribe.js'%}"></script>

        <!-- These should probably just be on the sponsors page -->
        {% block scripts %}

        {% endblock scripts %}
    </body>
</html>
