{% extends 'frontend/base.html' %}
{% load static %}
{% load bootstrap %}
{% load pinax_boxes_tags %}
{% load crispy_forms_tags %}

{% block sliders %}
   <li class="hero-slide">
        <div class="background-image-holder parallax-background">
            <img class="background-image" alt="Background Image" src="{% static 'new/img/ch8.jpg' %}">
        </div>
        <div class="container">
            <div class="row">
				<div class="col-md-6 col-sm-6">
				    <h1 class="large-h1 text-white">Bringing together Python's most forward thinking innovators &amp; developers.</h1>
				</div>
            </div><!--end of row-->
        </div><!--end of container-->
    </li>
    <li class="hero-slide">
        <div class="background-image-holder parallax-background">
            <img class="background-image" alt="Background Image" src="{% static 'new/img/sponsor_slider1.jpg' %}">
        </div>
        <div class="container">
            <div class="row">
				<div class="col-md-6 col-sm-6">
				    <h1 class="large-h1 text-white">Bringing together Python's most forward thinking innovators &amp; developers.</h1>
				</div>
            </div><!--end of row-->
        </div><!--end of container-->
    </li>
    <li class="hero-slide">
        <div class="background-image-holder parallax-background">
            <img class="background-image" alt="Background Image" src="{% static 'new/img/sponsor_slider2.jpg' %}">
        </div>
        <div class="container">
            <div class="row">
				<div class="col-md-6 col-sm-6">
					<h1 class="large-h1 text-white">Bringing together Python's most forward thinking innovators &amp; developers.</h1>
				</div>
            </div><!--end of row-->
        </div><!--end of container-->
    </li>
        <li class="hero-slide">
            <div class="background-image-holder parallax-background">
				<img class="background-image" alt="Background Image" src="{% static 'new/img/cdbg.jpg' %}">
            </div>
            <div class="container">
                <div class="row">
				    <div class="col-md-6 col-sm-6">
                        <h1 class="large-h1 text-white">Bringing together Python's most forward thinking innovators &amp; developers.</h1>
                    </div>
				</div><!--end of row-->
            </div><!--end of container-->
         </li>
{% endblock sliders %}
{% block content %}
<!--Event Focus Starts -->
    <a id="about" class="in-page-link"></a>
    <section class="topics duplicatable-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="blue-header"><b><em>Guidelines</em></b></h1>
                </div>
            </div><!--end of row-->
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="topic">
                        <i class="pe-7s-info"></i>
                        <h3 class="blue-header"><em>Info</em></h3>
                        <p class="lead">
                        <p>PyBay is a developer-centric conference, focused primarily but not exclusively on the Python language. We're primarily seeking technical talks, though talks on process and other topics relevant to the community will be considered. </p>
                        <p>Talks are 40 minutes</p>
                        <p>Call For Proposals opens: April 23rd</p>
                        <p>Call For Proposals ends: May 26th (at 11:59pm PST)
                        <p>Speakers notified by: June 5th</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="topic">
                        <i class="pe-7s-help1 icon-large"></i>
                        <h3 class="blue-header"><em>Proposal Guidelines</em></h3>
                        <p class="lead">
                            <p>You may submit up to 3 proposals.</p>
                            <p>The title, description, and abstract should sell your talk to attendees and reviewers.
                                    They should answer the questions:
                                    Why should I attend this talk?
                                    What will I learn?
                                    What makes this a compelling talk?</p>

                            <p>Please select the best fit for the category and level fields below. Your talk may cover content that spans more than one category, but please choose the one that best describes its primary focus. The "/etc" category is for talks whose primary focus does not fit under the others.</p>
                        </p>
				     </div>
				 </div>
                 <div class="col-md-4 col-sm-6">
					<div class="topic">
                        <i class="pe-7s-search icon-large"></i>
                        <h3 class="blue-header"><em>Talk Selection&nbsp;</em></h3>
				            <p class="lead">
								<p>The first phase of selection is blind -- we'll only consider talk information, and not speaker information. In the second phase of selection, we'll consider speaker information if needed.</p>
                                <p>Our goal is to determine the program largely by talk content while still ensuring a diversity of talks and speakers.</p>
				            </p>
                    </div>
                </div> <!--end of individual topic-->
		  </div><!--end of row-->
        </div><!--end of container-->
    </section>
<!--Event Focus Ends -->
<!-- Forms Start -->
    <div class="container">
        <p class="lead"><h3>Call For Proposals Form</h3></p>
    <form class="well form-horizontal" action="{% url 'pybay_cfp' %}" method="post" id="contact_form">
    <div class="form-group">
        {% csrf_token %}
        {% crispy form %}

            <label class="col-md-4 control-label"></label>
            <div class="col-md-4">
                <button type="submit" class="btn btn-warning">Submit<span class="glyphicon glyphicon-send"></span> </button>
            </div></div>
    </form>
    </div>
<!-- Forms End -->
{% endblock content %}
