{% extends 'frontend/base.html' %}
{% load staticfiles %}

{% block sliders %}
        <li class="hero-slide">
            <div class="background-image-holder parallax-background">
                <img class="background-image" alt="Background Image" src="{% static 'new/img/cdbg.jpg' %}">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                    <br><br><br>
                        <h1 class="large-h1 text-white">Bringing together Python's most forward thinking innovators &amp; developers.</h1>
                    </div>
                </div><!--end of row-->
            </div><!--end of container-->
        </li>
{% endblock sliders %}

{% block content %}

<section class="code_of_conduct">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h1><strong>Attendee Procedure For Handling Harassment</strong></h1>
                <p>This page has been adapted from <a href="https://us.pycon.org/2016/about/code-of-conduct/harassment-incidents/">PyCon's CoC procedures</a>.</p>
                <p><strong>These instructions apply to all volunteers and attendees!</strong></p>
                <ol>
                    <li>
                        Contact either staff personnel Grace Law (<a href="mailto:grace@pybay.com">grace@pybay.com</a>) or Simeon Franklin (<a href="mailto:simeonf@gmail.com">simeonf@gmail.com</a> / 209 846-2151). All staff will also be prepared to handle the incident - just look for a crew member wearing a PyBay CREW shirt! All of our staff members are <a href="/code-of-conduct">informed of the code of conduct policy</a> and guide for handling harassment at the conference. There will be a mandatory staff meeting onsite at the conference when this will be reiterated as well.
                    </li>
                    <li>
                        Report the harassment incident (preferably in writing) to Simeon and/or Grace - all reports are confidential. When reporting the event to staff, try to gather as much information as available, but do not interview people about the incident - Staff will assist you in writing the report/collecting information. The important information consists of:
                        <ol>
                            <li>Identifying information (name/badge number) of the participant doing the harassing.</li>
                            <li>The behavior that was in violation.</li>
                            <li>The approximate time of the behavior (if different than the time the report was made).</li>
                            <li>The circumstances surrounding the incident.</li>
                            <li>Other people involved in the incident.</li>
                        </ol>
                    </li>
                    <li>
                        The staff is informed on how to deal with the incident and how to further proceed with the situation.
                        If everyone is presently physically safe, involve law enforcement or security only at a victim's request. If you do feel your safety in jeopardy please do not hesitate to contact local law enforcement by dialing 911. If you do not have a cell phone simply ask a staff member.
                    </li>
                </ol>
                <h1><strong>Staff Procedure For Handling Harassment</strong></h1>
                <p>This page has been adapted from <a href="https://us.pycon.org/2016/about/code-of-conduct/harassment-incidents/">PyCon's CoC procedures</a>.</p>
                <p><strong>These instructions apply only to Grace and Simeon!</strong></p>
                <p>Be sure to have a good understanding of our Code of Conduct policy, which can be found here: <a href="/code-of-conduct">http://www.pybay.com/code-of-conduct</a></p>
                <p>Also have a good understanding of what is expected from an attendee that wants to report a harassment incident. These guidelines can be found above on this page.</p>
                <p>Try to get as much of the incident in written form by the reporter. If you cannot, transcribe it yourself as it was told to you. The important information to gather include the following:</p>
                <ol>
                    <li>Identifying information (name/badge number) of the participant doing the harassing.</li>
                    <li>The behavior that was in violation.</li>
                    <li>The approximate time of the behavior (if different than the time the report was made).</li>
                    <li>The circumstances surrounding the incident.</li>
                    <li>Other people involved in the incident.</li>
                </ol>

            <p>Prepare an initial response to the incident. This initial response is very important and will set the tone for PyBay. Depending on the severity/details of the incident, please follow these guidelines:</p>
                    <ol>
                    <li>If there is any general threat to attendees or the safety of anyone including conference staff is in doubt, summon security or police.</li>
                    <li>Offer the victim a private place to sit.</li>
                    <li>Ask them "Is there a friend or trusted person who you would like to be with you?" (If so, arrange for someone to fetch this person.)</li>
                    <li>Ask them "How can I help?"</li>
                    <li>Provide them with your list of emergency contacts if they need help later.</li>
                    <li>If everyone is presently physically safe, involve law enforcement or security only at a victim's request.</li>
                </ol>
            <p>There are also some guidelines as to what not to do as an initial response:</p>
               <ol>
                    <li>Do not overtly invite them to withdraw the complaint or mention that withdrawal is OK. This suggests that you want them to do so, and is therefore coercive. "If you're OK with it [pursuing the complaint]" suggests that you are by default pursuing it and is not coercive.</li>
                    <li>Do not ask for their advice on how to deal with the complaint. This is a staff responsibility.</li>
                    <li>Do not offer them input into penalties. This is the staff's responsibility.</li>
                </ol>
                <p>Once something is reported Grace and Simeon and any available staff should meet. The main objectives of this meeting is to find out the following:</p>
                <ol>
                    <li>What happened?</li>
                    <li>Are we doing anything about it?</li>
                    <li>Who is doing those things?</li>
                    <li>When are they doing them?</li>
                </ol>
            <p>After the staff meeting and discussion, have a staff member (preferably Grace) communicate with the alleged harasser. Make sure to inform them of what has been reported about them.</p>
            <p>Allow the alleged harasser to give their side of the story to the staff. After this point, if report stands, let the alleged harasser know what actions will be taken against them.</p>
            <p>Some things for the staff to consider when dealing with Code of Conduct offenders (note that the list below is not a requirement and only applies if the report deems it necessary):</p>
            <ol>
                <li>Warning the harasser to cease their behavior and that any further reports will result in sanctions.</li>
                <li>Requiring that the harasser avoid any interaction with, and physical proximity to, their victim for the remainder of the event.</li>
                <li>Ending a talk that violates the policy early.</li>
                <li>Not publishing the video or slides of a talk that violated the policy.</li>
                <li>Not allowing a speaker who violated the policy to give (further) talks at the event now or in the future.</li>
                <li>immediately ending any event volunteer responsibilities and privileges the harasser holds.</li>
                <li>immediately ending any event volunteer responsibilities and privileges the harasser holds.</li>
                <li>Immediately ending any event volunteer responsibilities and privileges the harasser holds.</li>
                <li>Requiring that the harasser not volunteer for future events your organization runs (either indefinitely or for a certain time period).</li>
                <li>Requiring that the harasser refund any travel grants and similar they received (this would need to be a condition of the grant at the time of being awarded).</li>
                <li>Requiring that the harasser immediately leave the event and not return.</li>
                <li>Banning the harasser from future events (either indefinitely or for a certain time period).</li>
                <li>Removing a harasser from membership of relevant organizations.</li>
            </ol>
            <p>Give accused attendees a place to appeal to if there is one, but in the meantime the report stands. Keep in mind that it is not a good idea to encourage an apology from the harasser.</p>

            <p>It is very important how we deal with the incident publicly. Our policy is to make sure that everyone aware of the initial incident is also made aware that it is not according to policy and that official action has been taken - while still respecting the privacy of individual attendees. When speaking to individuals (those who are aware of the incident, but were not involved with the incident) about the incident it is a good idea to keep the details out.</p>

            <p>Depending on the incident, the conference chair or their designate may decide to make one or more public announcements. If necessary, this will be done with a short announcement before a Keynote session and/or through other channels. No one other than the conference chair or someone delegated authority from the conference chair should make any announcements.</p>

            <p>If some attendees were angered by the incident, it is best to apologize to them that the incident occurred to begin with. If there are residual hard feelings, suggest to them to write an email to the conference organizer.
            </p>
            <p>All reports should be made directly to:<br>
            &nbsp;&nbsp;<u><a href="mailto:simeonf@gmail.com">Simeon Franklin</a>,</u> Staff  <br>
            &nbsp;&nbsp;<u><a href="mailto:grace@pybay.com">Grace Law,</a></u> Conference Organizer
            </p>
            <p>*This content is licensed under CC Attribution-ShareAlike. See <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcod">https://creativecommons.org/licenses/by-sa/3.0/legalcod</a></p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
