{% extends 'frontend/base.html' %}
{% load staticfiles %}

{% block content %}
<section class="code_of_conduct">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="blue-header" style="padding-top:20px;"><strong>Code Of Conduct</strong></h1>
                <div class="jumbotron">
                <h2>Facing an issue?</h2>
                <p style="font-size:18px;font-weight:bold"">Please call or SMS <a href="tel:415-877-9229">(415) 877-9229</a> to reach conference COC staff.
                  See <a href="{% url 'pybay_coc_reporting' %}">CoC reporting procedures</a> for more details.</p>
                </div>
                <p>
                     The organizers of PyBay are dedicated to providing a space and program for developers interested in Python and related technologies to have a memorable weekend of fun, learning, and sharing. We value the participation of every member of our community and want all who attend to have an enjoyable and rewarding experience.
                </p>
                <p>
                    We ask that the participants make PyBay great by contributing positively back to the Python and open source communities; generously sharing what they know; mentoring others when the opportunity arises; and extending respect, courtesy, and compassion to other attendees, especially when opinions differ.
                </p>
                <p>
                    Our Code of Conduct is created in the spirit of promoting this spirit. Every attendee, speaker, exhibitor, organizer, and volunteer at any event or activity connected with the PyBay conference is expected to abide by this Code of Conduct:
                </p>
                <p>
                    "PyBay provides a harassment-free conference experience for everyone, regardless of gender, sexual orientation, disability, physical appearance, body size, race, or religion. We do not tolerate harassment of conference participants in any form. All communication will remain appropriate for a professional audience that includes people of many different backgrounds. We do not permit these behaviors at any time during the conference, in any conference venue: using sexual language or imagery; insulting, maligning, or harassing other attendees; or telling sexist, racist, or exclusionary jokes."
                </p>
                <p>
                    Conference staff will enforce this Code throughout the event and may ask anyone violating this Code to leave the conference.
                </p>
                <p>
                    Thank you for helping make PyBay a positive, inclusive, and appropriate experience for all who attend.
                </p>
                <h2 class="blue-header"><strong>Reporting</strong></h2>
                <p>
                If you feel this Code of Conduct has been violated, or have other concerns, please contact a member of the PyBay conference crew. (Crew members will be wearing PyBay Shirts that say CREW on them). You can also call or SMS the COC hotline <a href="tel:415-877-9229">(415) 877-9229</a> at any time.
                </p>
                <p>Please see <a href="{% url 'pybay_coc_reporting' %}">CoC reporting procedures</a> for more details.</p>
                <p>
                Conference staff will be happy to help participants contact hotel/venue security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the conference. We value your attendance and want this to be a great experience for all!
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
