{% extends 'frontend/base.html' %}
{% load static %}

{% block content %}
<section class="code_of_conduct">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h1><strong><i>Frequently Asked Questions</i></strong></h1>
                {% for faq in faqs %}
                    <h2 class="lead">{{ faq.title }}</h2>
                    <p>
                        {{ faq.body | safe }}
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}
