{% extends 'frontend/base.html' %}
{% load staticfiles %}
{% load featured_speakers %}
{% load generic_flatblocks %}

{% block body_class %}frontpage{% endblock %}

{% block headeroption %}
  <div class="main-container"><a id="home" class="in-page-link"></a>
    <section class="hero-slider">
      <ul class="slides">
        <li class="video-header">
          <div class="background-image-holder parallax-background">
            <img class="background-image" alt="Background Image" src="{% static 'new/img/PyBay2021-Transparent-2.png' %}">
          </div>
          <div class="video-wrapper">
            <video autoplay muted loop>
              <source src="{% static 'new/video/playground/park_video.webm' %}" type="video/webm">
              <source src="{% static 'new/video/playground/park_video.mp4' %}" type="video/mp4">
              <source src="{% static 'new/video/playground/park_video.ogv' %}" type="video/ogg">
            </video>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <img alt="logo" class="logo" src="{% static 'new/img/PyBay2021-Transparent-2.png' %}">
                {% gblock "index_date_line" for "gblocks.Text" %}

                {% if countdown %}
                  <span class="video-moreinfo">{{ countdown.title }}</span>
                  <div class="video-moreinfo countdown" id="countdown" data-countdown-date="{{ countdown.date }}" data-countdown-reference="{{ countdown.reference }}"></div>
                  <span class="video-moreinfo"><a class="btn" href="{{ countdown.link }}">{{ countdown.cta }}</a></span>
                {% endif %}
              </div>
            </div><!--end of row-->
          </div><!--end of container-->
        </li>
      </ul>
    </section>
  </div>
{% endblock headeroption %}

{% block content %}

  <!--Event Focus Starts -->
  <section class="topics duplicatable-content home-page">
    <div class="container">
      {% gblock "index_why_attend" for "blockstuff.Col3" %}
    </div>
  </section>

  <!--Count Down Ends  -->
  <!-- Featured speakers Begins -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        {% featured_speakers %}
      </div>
    </div>
  </div>
  <!--Video 2016 Starts -->
  <!--Event Focus Ends -->
  <!--Count Down Starts  -->
  <section class="strip-divider primary-overlay countdown-divider">
    <div class="background-image-holder parallax-background">
      <img class="background-image" alt="About Image" src="{% static 'new/img/cdbg.jpg' %}">
    </div>
    <div class="container">
      {% gblock "conference_counters" for "gblocks.Text" %}
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <h1 class="text-center" style="color: black;">{% gblock "index_check_the_highlights" for "gblocks.Text" %}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-6">
          {% gblock "youtube_link" for "gblocks.Text" %}
        </div>
        <div class="col-md-5 col-sm-6 col-md-offset-1">
          {% gblock "testimonials_slider" for "gblocks.Text" %}
        </div><!--end of col-->
      </div><!--end of row-->
    </div><!--end of container-->

  </section>
  <!--Video  2016 Ends -->
  <!--Interested in Speaking at Meetup Start -->
  <section class="strip-divider primary-overlay">
    <div class="background-image-holder parallax-background">
      <img class="background-image" alt="About Image" src="{% static 'new/img/11.jpg' %} ">
    </div>
    <div class="video-wrapper">
      <video autoplay muted loop>
        <source src="{% static 'new/video/playground/park_video.webm' %}" type="new/video/webm">
        <source src="{% static 'new/video/playground/park_video.mp4' %}" type="new/video/mp4">
        <source src="{% static 'new/video/playground/park_video.ogv' %}" type="new/video/ogg">
      </video>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h1 style="color:white">{% gblock "interested_in_sponsoring_pybay" for "gblocks.Text" %}</h1>
        </div>
      </div><!--end of row-->
    </div><!--end of container-->
  </section>
  <!--Interested in Speaking at Meetup End -->
  {% include "frontend/faq_box.html" %}
  <!--Previous Meetup Starts -->
  <section class="lightbox-gallery preserve-3d">
    <div class="gallery-holder">
      <ul>
        <li>
          <a href="{% static 'new/img/lb1.jpg' %}" class="lightbox-link-mrv" data-lightbox="true" data-title="PyBay 2016">
            <div class="background-image-holder">
              <img class="background-image" alt="Lightbox Image" src="{% static 'new/img/lb1.jpg' %}">
            </div>
          </a>
        </li>
        <li>
          <a href="{% static 'new/img/lb2.jpg' %}" class="lightbox-link-mrv" data-lightbox="true" data-title="PyBay 2016">
            <div class="background-image-holder">
              <img class="background-image" alt="Lightbox Image" src="{% static 'new/img/lb2.jpg' %}">
            </div>
          </a>
        </li>
        <li>
          <a href="{% static 'new/img/lb3.jpg' %}" class="lightbox-link-mrv" data-lightbox="true" data-title="PyBay 2016">
            <div class="background-image-holder">
              <img class="background-image" alt="Lightbox Image" src="{% static 'new/img/lb3.jpg'     %}">
            </div>
          </a>
        </li>
        <li>
          <a href="{% static 'new/img/lb4.jpg' %}" class="lightbox-link-mrv" data-lightbox="true" data-title="PyBay 2016">
            <div class="background-image-holder">
              <img class="background-image" alt="Lightbox Image" src="{% static 'new/img/lb4.jpg' %}">
            </div>
          </a>
        </li>
        <li>
          <a href="{% static 'new/img/lb5.jpg'%}" class="lightbox-link-mrv" data-lightbox="true" data-title="PyBay 2016">
            <div class="background-image-holder">
              <img class="background-image" alt="Lightbox Image" src="{% static       'new/img/lb5.jpg'%}">
            </div>
          </a>
        </li>
        <li>
          <a href="{% static 'new/img/lb6.jpg'%}" class="lightbox-link-mrv" data-lightbox="true" data-title="PyBay 2016">
            <div class="background-image-holder">
              <img class="background-image" alt="Lightbox Image" src="{% static 'new/img/lb6.jpg'%}">
            </div>
          </a>
        </li>
        <li>
          <a href="{% static 'new/img/ch7.jpg' %}" class="lightbox-link-mrv" data-lightbox="true" data-title="PyBay 2016">
            <div class="background-image-holder">
              <img class="background-image" alt="Lightbox Image" src="{% static 'new/img/ch7.jpg' %}">
            </div>
          </a>
        </li>
        <li>
          <a href="{% static 'new/img/ch8.jpg' %}" class="lightbox-link-mrv" data-lightbox="true" data-title="PyBay 2016">
            <div class="background-image-holder">
              <img class="background-image" alt="Lightbox Image" src="{% static 'new/img/ch8.jpg' %}">
            </div>
          </a>
        </li>
        <li>
          <a href="{% static 'new/img/lb1.jpg' %}" class="lightbox-link-mrv" data-lightbox="true" data-title="PyBay 2016">
            <div class="background-image-holder">
              <img class="background-image" alt="Lightbox Image" src="{% static 'new/img/lb1.jpg' %}" >
            </div>
          </a>
        </li>
        <li>
          <a href="{% static 'new/img/lb2.jpg' %}" class="lightbox-link-mrv" data-lightbox="true" data-title="PyBay 2016">
            <div class="background-image-holder">
              <img class="background-image" alt="Lightbox Image" src="{% static 'new/img/lb2.jpg' %}">
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div>
            <i class="icon pe-7s-camera text-white"></i>
            <h1 class="text-white">{% gblock "memories_from_pybay" for "gblocks.Text" %}</h1>
          </div>
        </div>
      </div><!--end of row-->
    </div><!--end of container-->
  </section>
  <!--Previous Meetup Ends -->
  <!--Subscribe to stay tune Starts -->
  <section class="subscribe-2">
    <div class="container">
      {% gblock "subscribe_to_stay_informed" for "gblocks.Text" %}
    </div>
    <!--End mc_embed_signup-->
    <!--                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <form class="email-subscribe mail-list-signup">
                            <div class="col-sm-7">
                                <input class="form-email signup-email-field" type="text"    placeholder="Enter your email address">
                            </div>
                            <div class="col-sm-5">
                                <input class="btn" type="submit" value="Subscribe">
                            </div>
                            <div class="col-sm-12 text-center">
                                <span>*We never share your email with 3rd parties</span>
                            </div>
                            <iframe class="mail-list-form" srcdoc=""></iframe>
                        </form>
                    </div> -->
    </div><!--end of row-->
    </div><!--end of container-->
  </section>
  <!--Subsribe to stay Tune Ends -->
{% endblock content %}

{% block scripts %}
  {{ block.super }}
  {% if countdown %}
    <script type="text/javascript" src="{% static 'new/js/countdown.js' %}"></script>
    <script type="text/javascript">
        countdown(document.getElementById('countdown'));
    </script>
  {% endif %}
{% endblock %}
