{% extends 'frontend/base.html' %}
{% load static %}

{% block content %}
<a id="top"></a>
<section class="topics duplicatable-content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h1><strong>Ticket Types</strong></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="topic">
                    <i class="pe-7s-like2 icon-large"></i>
                    <h3 class="blue-header"><strong>Corporate Pass</strong></h3>
                    <p class="lead">
                         We love employers who support their employees’ continuous education. If your company sends 20% or more of your engineering team or 10 or more developers to PyBay at the corporate rate, we'll feature your company's logo among Python Supporters!</p>

                </div>
            </div>
        <div class="col-md-6 col-sm-6">
            <div class="topic">
                <i class="pe-7s-user icon-large"></i>
                <h3 class="blue-header"><strong>Individual Pass<strong></h3>
                <p class="lead">Your employer isn’t reimbursing your attendance at PyBay? &nbsp;You’re on a tight budget or between jobs? &nbsp;Or you’re a student? &nbsp;We've got you covered with individual passes. Make sure you get yours ASAP, as the price goes up as the allotted passes at each price tier sell out.</p>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <div class="topic">
                    <i class="pe-7s-tools icon-large"></i>
                    <h3 class="blue-header"><strong>Pre-Conference Workshop</strong></h3>
                    <p class="lead">Want to enhance your conference experience by deep diving with some of the top educators in the Python ecosystem? &nbsp;Or skip the conference altogether and just attend the pre-conference workshops? &nbsp;Passes for full-day and half-day workshops are available à la carte.</p>

                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="topic">
                    <i class="pe-7s-timer icon-large"></i>
                    <h3 class="blue-header"><strong>One-Day Pass</strong></h3>
                    <p class="lead">Have too much going on but still want to join in on the fun? &nbsp;Come and geek out with other Pythonistas and attend some talks for just Saturday or Sunday.</p>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="topic">
                    <i class="pe-7s-cash icon-large"></i>
                    <h3 class="blue-header"><strong>Work-Trade Pass</strong></h3>
                    <p class="lead">Want to trade your talents for a discounted pass? &nbsp;We have 20 work-trade passes available during the conference, enabling you to pay only 1/3 of the lowest price. We also have pre-conference roles that grant you free entry to the conference. Check out the <a href="{% url "pybay_faq" %}">info</a> for reduced or free entry while helping make PyBay a great conference!</p>
                </div>
            </div>
        </div>
    </div>
</section>

    <div class="container">
        <div class="row">
        <p></p>
            <div class="col-md-10 col-md-offset-1">
                <h1 class="tickets"><strong>Tickets</strong></h1>

                <!-- place this where you want the widget to appear -->
                <tito-widget event="sf-python/pybay-2017"></tito-widget>

                <!-- for basic styles include a link to our stylesheet. -->
                <!-- fancy something more adventurous? Copy it and roll your own! -->
                <link rel="stylesheet" type="text/css" href='https://css.tito.io/v1.1' />
            </div>
        </div>
    </div>

{% block python-corps %}
<section>
    <div style="margin-bottom: 100px;" class="row">
        <div class="col-xm-12 text-center">
            <h1>Committed to Your Education</h1>
            <div class="container">
                <div class="row">
                    <!-- repeat this div below for other logos -->
                    <div class="col-md-6 col-md-2">
                        <a href="http://www.sfpython.org">
                            <img class="img-responsive" src="{% static 'new/img/sfpython_transparent.png' %}"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        </br>
        <div class="row">
            <div class="col-sm-12 text-center">
                <p>These companies use Python, and support their employees continuing education. Interested in listing your company here? <a class="inner-link" href="{% url 'pybay_faq' %}">Get in touch.</a></p>
            </div>
        </div>
    </div>
</section>
{% endblock python-corps %}

{% include "frontend/faq_box.html" %}

<!--Conference Venue Starts -->
<section class="duplicatable-content visitor-info">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1><strong>Conference Venue&nbsp;</strong></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="info-box">
                    <img alt="Venue" src="{% static 'new/img/owens.jpg' %}">
                    <h3>Main Conference Venue</h3>
                    <p>
                        <a href="http://www.acc-missionbayconferencecenter.com">
                            <strong>UCSF Mission Bay Conference Center</strong></a><br>
                        1500 Owens Street,&nbsp;<br>
                        San Francisco, CA 94158<br><br>
                    <a href="https://goo.gl/maps/xV8Bobh5Qvj">See Map</a>
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="info-box">
                    <img alt="Venue" src="{% static 'new/img/Question-Mark.jpg' %}">
                    <h3>Pre-Conference Workshops Venue</h3>
                    <p>
                        TBD
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Conference Venue Ends -->
{% endblock content %}

{% block subscribe %}
{% endblock subscribe %}
