
{% extends 'frontend/base.html' %}
{% load static %}
{% load thumbnail %}
{% load value_from_list_or_default %}

{% block content %}
<section class="code_of_conduct">
  <div class="container schedule-page">
    <div class="row">
      <div>
        <div class="blue-header">
          <h1><strong>Schedule</strong></h1>
        </div>
      </div>
    </div>

    {% for schedule_days in schedules %}
      <div class="sch-schedule">
        <div class="sch-filters">
            <span>Filter:</span>
            <ul class="sch-filter-list">
                <li data-filter="">All Talks</li>
              {% for filter, name in filters %}
                <li data-filter="{{ filter }}">{{ name }}</li>
              {% endfor %}
            </ul>
        </div>

        {% for day, slot_groups in schedule_days %}
          <div class="sch-day">
            <h2 class="sch-day-title">{{ day.date }}</h2>
            <div class="sch-timeslots">
              {% for time, slots, kind in slot_groups %}
                <div class="sch-timeslot {% if kind %}sch-timeslot-special sch-timeslot-special-{{ kind }}{% endif %}">
                  <h3 class="sch-timeslot-time">{{ time }}</h3>
                  <div class="sch-timeslot-slots">
                    {% for slot in slots %}
                      {% if slot.content_override %}
                        <div class="sch-timeslot-slot sch-timeslot-kind-{{ slot.kind.label }} sch-timeslot-custom">
                          {{ slot.content_override }}
                        </div>
                      {% elif slot.content_ptr %}
                        {% with talk=slot.content_ptr %}
                          <div class="sch-timeslot-slot sch-timeslot-kind-{{ slot.kind.label }} sch-talk-level-{{ talk.proposal.audience_level }} sch-talk-{% value_from_list_or_default talk.proposal.category|cut:" " allowed_categories "other" %}">
                            {% if talk.speaker.photo %}<p class="sch-speaker-photo"><img src="{% thumbnail talk.speaker.photo '50x50' %}" alt="{{ talk.speaker.name }}" /></p>{% endif %}
                            <h4>{{ talk.title }}</h4>
                            <p class="sch-speaker">{{ talk.speaker.name }}</p>
                            {% if talk.speaker.photo %}<p class="sch-speaker-photo"><img src="{% thumbnail talk.speaker.photo '50x50' %}" alt="{{ talk.speaker.name }}" /></p>{% endif %}
                            <p class="sch-description">{{ talk.description }}</p>
                            <p class="sch-room">{{ slot.rooms|join:', ' }}</p>
                            <p class="sch-duration">{{ slot.length_in_minutes }} mins</p>
                          </div>
                        {% endwith %}
                      {% else %}
                        <div class="sch-timeslot-slot sch-timeslot-kind-{{ slot.kind.label }}">
                          <p>{{ slot.kind.label.title }}</p>
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>

    {% endfor %}
  </div><!--container -->
</section>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'new/js/schedule-filters.js' %}" async></script>
    <style type="text/css">
      {% for slug, _ in filters %}
      .sch-schedule-filter-{{ slug }} .sch-filter-list > li[data-filter="{{ slug }}"]{% if not forloop.last %},{% endif %}{% endfor %} {
        background: #428bca;
        color: white;
      }

      {% for slug, _ in filters %}
      .sch-schedule-filter-{{ slug }} .sch-timeslot-kind-talk:not(.sch-talk-{{ slug }}){% if not forloop.last %},{% endif %} {% endfor %}{
        opacity: .3;
      }

      @media(max-width: 450px) {
        {% for slug, _ in filters %}
        .sch-schedule-filter-{{ slug }} .sch-timeslot-kind-talk:not(.sch-talk-{{ slug }}){% if not forloop.last %},{% endif %} {% endfor %} {
          display: none;
        }
      }

    </style>
{% endblock %}
