{% extends 'frontend/base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% load get_speaker_url_with_fallback %}
{% load markup_tags %}
{% load generic_flatblocks %}

{% block content %}
<section class="code_of_conduct">
  <div class="container">
    <div class="col-md-12 no-padding clearfix">
        <div class="blue-header">
            <h1><strong>All Speakers</strong></h1>
                  {% gblock "speakers_list_top_block" for "gblocks.Text" %}
            <p></p>
        </div>
    </div><!-- /.col-md-12 -->

    {% for chunk in chunks %}
      <div class="row speaker-list-row">
        {% for speaker in chunk %}
          <div class="col-md-6">
            <img width=200 src="{% speaker_url_with_fallback speaker 200 %}" alt="{{ speaker.name }}">
            <h2><strong><a href="{% url 'pybay_speakers_detail' speaker.name_slug %}">{{ speaker.name }}</a></strong></h2>
            <span>{{ speaker.biography|apply_markup:"markdown"|truncatewords_html:"40" }}</span>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div><!--container -->
</section>
{% endblock content %}
