{% extends 'frontend/base.html' %}
{% load static %}

{% block content %}
<!-- Chart 3 ENDS -->
<div>
  {% include "frontend/sponsor_level_list.html" with sponsors=gold_sponsors color="gold" title="Gold Sponsors" icon="" %}

  {% include "frontend/sponsor_level_list.html" with sponsors=silver_sponsors color="silver" title="Silver Sponsors" icon="" %}

  {% include "frontend/sponsor_level_list.html" with sponsors=bronze_sponsors color="bronze" title="Bronze Sponsors" icon="" %}

</div>
{% endblock content %}
