<!-- Sponsorship Opportunities BEGINS -->
{% load benefit_tags %}
{% load generic_flatblocks %}
<style>
td.column-1{
    background: #fef8eb;
}

.second-column {
  background: #428bca
}

table td.axial-description {
  text-align: left !important;
  background: #eee;
}

.package-header {
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
}

.color-0{  background: #aaa;}


.color-1 {  background: #8bbeea;}

.color-2 {  background: #ecba5f; }

.generic-conf {
  background: #ccc;
  color: #fff;
}

tr td.tablecelllefty {
  text-align: left !important;
}
</style>
<section>
  <div class="container" style="margin-bottom:-50px">
    <div class="heavy-header blue-header">
    <h2 class="blue-header">Sponsorship Opportunities</h2>
    </div>
    <br>


<div class="table-responsive">

        <table class="table sponsortable">
          <thead>
          <tr>
            <th colspan="6" class="axial-column"><h3 class="panel-heading"><span class="pricely-label"><b>Sponsor packages</b></span>
            </h3></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td width="32%"></td>
            {% load_sponsor_cats_levels_packages %}
            {% for category in sponsor_cats %}
              <td class="column-{{category.order}}" colspan="{{ category.sponsorlevel_set.count }}"><h4>{{ category.text }}</h4></td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            {% for category in sponsor_cats %}
              {% for level in category.sponsorlevel_set.all %}
               <td class="column-{{ category.order }}"><strong> {{ level.text }} </strong></td>
              {% endfor %}
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            {% for category in sponsor_cats %}
              {% for level in category.sponsorlevel_set.all %}
                <td class="column-{{category.order}}">{{level.price_text }}</td>
              {% endfor %}
            {% endfor %}
          </tr>
          {% for package in sponsor_packages %}
          <tr>
            <td colspan="6" class="package-header tablecelllefty color-{{package.order}}">{{ package.text }}</td>
          </tr>
            {% for benefit in package.benefit_set.all %}
              <tr>
                  <td class="axial-description">{{ benefit.text }}</td>
                {% for applies in benefit|get_all_applies:sponsor_levels %}
                  <td class="column-{{ applies.level.category.order }}">{{ applies.text|checkmark }}</td>
                {% endfor %}
              </tr>
            {% endfor %}
          {% endfor %}


          <tr>
            <td colspan="6" class="tablecelllefty package-header generic-conf">Other ways to sponsor</td>
          </tr>
          <tr>
            <td colspan="3" class="first-column"><h4>Add-ons</h4></td>
            <td colspan="3" class="second-column"><h4>A la Carte</h4></td>
          </tr>
          {% load_extra_benefits %}
          {% for addon, alacarte in extra_benefits %}
          <tr>
            <td class="tablecelllefty" colspan="2">{{ addon.title }}</td>
            <td class="tablecelllefty">{{ addon.price_text }}</td>
            <td class="tablecelllefty" colspan="2">{{ alacarte.title }}</td>
            <td class="tablecelllefty">{{ alacarte.price_text }}</td>
          </tr>
          {% endfor %}

          <tr>
            <td colspan="6" class="tablecelllefty package-header generic-conf">Sponsor benefits explained</td>
          </tr>
          {% load_explanations %}
          {% for explanation in explanations %}
          <tr>
            <td class="axial-description">{{ explanation.title }}</td>
            <td colspan="5" class="tablecelllefty">{{ explanation.text|safe }}</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
<div class="col-md-8 col-md-offset-2 text-center">
        <a href="https://drive.google.com/open?id=1RJ-JIyzEtgAvaSddRcXl66zK_vSUIIiU" class="btn">Download Prospectus</a>
        <a href="mailto:grace@pybay.com?subject=Hi, I want to sponsor PyBay&body=Please include your company name and your budget, wish list, and questions."
           class="btn">Email us</a> <a href="https://squareup.com/store/sf-python" class="btn">Pay w/ Credit Card</a>
</div>
      </div>

  </div>
</section>
<!-- Sponsorship Opportunities END -->
