{% extends 'frontend/base.html' %}
{% load staticfiles %}
{% load generic_flatblocks %}

{% block body_class %}{{ block.super }} sponsor-prospectus-page{% endblock %}

{% block content %}
<!-- Why Sponsor Starts -->
<a id="about" class="in-page-link"></a>

<section class="topics duplicatable-content">
  <div class="container">
    {% gblock "sponsors_1" for "blockstuff.Col3" %}
    {% gblock "sponsors_2" for "blockstuff.Col3" %}
  </div>
</section>
<section class="topics duplicatable-content no-background">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="blue-header"><strong>Who attended the Inaugural PyBay?</strong></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 offset-3">
                <p align ="right">*Data from 500+ registered guests at PyBay 2016</p>
                <h4><center>Participant's Skills & Interest</center></h4>
                 <div id="barchart1" width="500" height="300"></div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12 offset-4">
                <div>

                    <h4><center>Participant's Background</center></h4>
                    <div id="barchart2" width="500" height="300"></div>

                </div>
            </div>
        </div>
        <div class="row">

            <div id="pie1" width="500" height="300"> </div>

        </div>
    </div>
</section>
<!-- Why Sponsor Ends-->
<!-- Chart 3 ENDS -->
<section>
<div class="container">
        <div class="col-md-12 no-padding clearfix">
            <div class="page-header pull-left">
                <h2 class="blue-header"><strong>Sponsorship Opportunities*</strong></h2>
            </div>
        </div><!-- /.col-md-12 -->
            <div class="separator col-md-12">
                <div class="pricely-chart pricely-professional">
                        <ul class="pricely-pro" >
                            <li class="pricely-first-heading panel-default col-md-4">
                                <h3 class="panel-heading">
                                    <span class="pricely-label">Benefits</span>
                                </h3>
                                <ul class="list-group">
                                    <li class="list-group-item">5 Minute pre-keynote speaking slot</li>
                                    <li class="list-group-item">Extended exhibition time</li>
                                    <li class="list-group-item">36"x84" Pop-up banner on main stage</li>
                                    <li class="list-group-item">Table at job fair/tools expo</li>
                                    <li class="list-group-item">100-word desc and logo on pybay.com</li>
									<li class="list-group-item">Mentions at PyBay's tweets</li>
                                    <li class="list-group-item">Logo on back of PyBay t-shirt</li>
                                    <li class="list-group-item">PyBay tickets</li>
                                    <li class="list-group-item">Bag insert OR raffle item</li>
                                    <li class="list-group-item">Additional branding options include one of the following:<br><br><br><br><br><br></li>
                                </ul>
                            </li>
                            <li class="pricely-inner panel-info col-xs-6 col-md-2">
                                <h3 class="panel-heading">
                                    <span class="pricely-label"><b>Diamond</b></span>
                                    <div class="pricely-figure">
                                        <span class="pricely-currency">$</span>
                                        <span class="pricely-amount">20,000</span>
                                    </div>
                                </h3>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <span class="glyphicon glyphicon-ok"></span>
                                        <span class="feature-hide">Pre-Keynote </span>
                                    </li>

                                    <li class="list-group-item">
                                        <span>2 Days</span>
                                        <span class="feature-hide">Exhibition Time</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="glyphicon glyphicon-ok"></span>
                                        <span class="feature-hide">Pop-up Banner</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="glyphicon glyphicon-ok"></span>
                                        <span class="feature-hide">Table at fair</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="glyphicon glyphicon-ok"></span>
                                        <span class="feature-hide">100-word description and Logo on pybay.com</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="glyphicon glyphicon-ok"></span>
                                        <span class="feature-hide">Mentions at PyBay's tweets</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span> Large </span>
                                        <span class="feature-hide">Logo on PyBay Shirt</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span>8</span>
                                        <span class="feature-hide">PyBay passes</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span>3</span>
                                        <span class="feature-hide">Bag insert</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="feature-hide"></span>
                                        <span>Bodyworkers @your booth 
                                        <br>Fri’s Opening Reception
                                        <br>Sat’s Job Fair Reception
										<br>Company Lounge
									    </span>
                                    </li>
                                </ul>
                            </li>
                            <li class="pricely-inner panel-warning col-xs-6 col-md-2">
                                <h3 class="panel-heading">
                                    <span class="pricely-label"><b>Gold</b></span>
                                    <div class="pricely-figure">
                                        <span class="pricely-currency">$</span>
                                        <span class="pricely-amount">10,000</span>
                                    </div>

                                </h3>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <span class="feature-hide"></span>
                                    </li>

                                    <li class="list-group-item">
                                        <span>1 Day</span>
                                        <span class="feature-hide">Exhibition Time</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="glyphicon glyphicon-ok"></span>
                                        <span class="feature-hide">Pop-up Banner</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="glyphicon glyphicon-ok"></span>
                                        <span class="feature-hide">Table at fair</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="glyphicon glyphicon-ok"></span>
                                        <span class="feature-hide">100-word description and Logo on pybay.com</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="glyphicon glyphicon-ok"></span>
                                        <span class="feature-hide">Mentions at PyBay's tweets</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span>Large</span>
                                        <span class="feature-hide">Logo on PyBay Shirt</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span>5</span>
                                        <span class="feature-hide">PyBay passes</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span>2</span>
                                        <span class="feature-hide">Bag insert</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span>Video Credit 
                                        <br>Coffee
                                        <br>Breakfast
                                        <br>Lunch
                                        <br>Snack
                                        <br><br><br></span>
                                    </li>
                                </ul>
                            </li>
                            <li class="pricely-inner panel-info col-xs-6 col-md-2">
                                <h3 class="panel-heading">
                                    <span class="pricely-label"><b>Silver</b></span>
                                    <div class="pricely-figure">
                                        <span class="pricely-currency">$</span>
                                        <span class="pricely-amount">5,000</span>
                                    </div>
                                </h3>
                               <ul class="list-group">
                                    <li class="list-group-item">
                                        <span class="glyphicon "></span>
                                        <span class="feature-hide"></span>
                                    </li>

                                    <li class="list-group-item">
                                        <span class="feature-hide"></span>
                                    </li>
                                    <li class="list-group-item">
                                        <span>    </span>
                                        <span class="feature-hide"></span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="glyphicon glyphicon-ok"></span>
                                        <span class="feature-hide">Table at fair</span>
                                    </li>
                                    <li class="list-group-item">
                                       <span class="glyphicon glyphicon-ok"></span>
                                        <span class="feature-hide">100-word description and Logo on pybay.com</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="glyphicon glyphicon-ok"></span>
                                        <span class="feature-hide">Mentions at PyBay's tweets</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span>Medium</span>
                                        <span class="feature-hide">Logo on PyBay Shirt</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span>3</span>
                                        <span class="feature-hide">PyBay passes</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span>1</span>
                                        <span class="feature-hide">Bag insert</span>
                                    </li>
                                    <li class="list-group-item">
                                        <br><br><br><br><br><br><br>
                                    </li>
                                </ul>
                            </li>
                            <li class="pricely-inner panel-warning col-xs-6 col-md-2">
                                <h3 class="panel-heading">
                                    <span class="pricely-label"><b>Bronze</b></span>

                                    <div class="pricely-figure">
                                        <span class="pricely-currency">$</span>
                                        <span class="pricely-amount">2,500</span>
                                    </div>
                                </h3>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <span class="feature-hide"></span>
                                    </li>

                                    <li class="list-group-item">
                                        <span class="feature-hide"></span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="feature-hide"></span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="feature-hide"></span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="glyphicon glyphicon-ok"></span>
                                        <span class="feature-hide">100-word description and Logo on pybay.com</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="glyphicon glyphicon-ok"></span>
                                        <span class="feature-hide">Mentions at PyBay's tweets</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span>Small</span>
                                        <span class="feature-hide">Logo on PyBay Shirt</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span> 1</span>
                                        <span class="feature-hide">PyBay passes</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span> 1</span>
                                        <span class="feature-hide">Bag insert</span>
                                    </li>
                                    <li class="list-group-item">
                                        <br><br><br><br><br><br><br>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                </div>
            </div>
            <div class="container">
            <table class="table-responsive">
                <th class="first-column">Add Ons:</th>
                <th>Logo on Lanyard <br>$1,500</th>
                <th>Open Space Room <br>Naming <br>$1,000</th>
                <th>Main Talks <br>Room Naming <br>$2,500</th>
                <th>Sponsored BOF <br>$6,000</th>
                <th class="last-column">PyBay Scholarships<br>$1,800 - $6,000</th>
            </table>
			<p>*See more detailed descriptions of available benefits on pybay.com. Feel free to email
grace@pybay.com with suggestions on alternate ways to promote your company.</p>
        </div>
    </div><!--container -->
</section>

{% include "frontend/faq_box.html" %}

{% endblock content %}

{% block subscribe %}
<a id="register" class="in-page-link"></a>

            <section class="image-with-text background-dark preserve-3d">

                <div class="container vertical-align">
                    <div class="row">
                        <div class="col-md-5 col-sm-8">
                            <h1 class="text-white">Want to showcase your company at PyBay 2017?</h1>
                            <div style="color: white; margin-bottom: 20px">
                                Tell us your budget, wish list, and questions. Let's find the best way
                                to show you off at the largest gathering of SF Bay Area's Python developers
                            </div>
                            <a href="mailto:grace@pybay.com?cc=avy@faingezicht.com&subject=Hi, I want to sponsor PyBay&body=Please include your company name and your budget, wish list, and questions." value="Register Now" class="btn">Email Us</a>
                        </div>
                    </div><!--end of row-->

                </div><!--end of container-->

                <div class="go-right side-image col-sm-4 col-md-6">
                    <div class="background-image-holder">
                        <img class="background-image" alt="About Image" src= "{% static 'new/img/lb3.jpg' %}">
                    </div>
                </div>
       </section>
{% endblock subscribe %}
{% block scripts %}
    <script src="{% static 'new/js/d3.v3.min.js' %}"></script>
    <script src="{% static 'new/js/graph1.js' %}"></script>
    <script src="{% static 'new/js/graph2.js' %}"></script>
    <script src="{% static 'new/js/graph3.js' %}"></script>
{% endblock scripts %}
