{% load thumbnail %}

{% if sponsors %}
    <div class="row sponsor-footer">
        <div class="sponsor-footer-list">
            {% for sponsor in sponsors %}
              {% if sponsor.sponsor_logo %}
                <div class="footer-sponsor">
                  <a href="{{ sponsor.external_url }}" target="_blank" rel="noreferrer noopener">
                    <img title="{{ sponsor.name }}" alt="{{ sponsor.name }}" src="{% thumbnail sponsor.website_logo '155x140' %}" />
                  </a>
                </div>
              {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}
