{% if sponsors %}
  <div class="sl-group {{ color }}-sponsors">

    <section class="subscribe-2">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center sl-group-heading" >
            {% if image %}<p>{{ image }}</p>{% endif %}
            <h1 class="large-h1">{{ title }}</h1>
          </div>
        </div>
      </div>
    </section>

    <section class="sponsor-list">
      {% for sponsor in sponsors %}
        <div class="sl-sponsor">
          <a class="sl-logo" href="{{ sponsor.external_url }}">
            <img
              alt="{{ sponsor.name }}"
              src="{{ sponsor.website_logo.url }}"
            />
          </a>
          <div class="sl-blurb">
            <h3><a href="{{ sponsor.external_url }}">{{ sponsor.name }}</a></h3>
            <p class="sl-link"><a href="{{ sponsor.external_url }}">{{ sponsor.external_url }}</a></p>
            <p class="sl-intro">{{ sponsor.listing_text|urlize|linebreaks }}</p>
          </div>
        </div>
      {% endfor %}
    </section>

  </div>
{% endif %}
