{% extends 'frontend/base.html' %}
{% load staticfiles %}
{% load generic_flatblocks %}
{% load benefit_tags %}

{% block body_class %}{{ block.super }} sponsor-prospectus-page{% endblock %}

{% block content %}

<script src="/site_media/static/d3.v5.min.js"></script>
<script src="/site_media/static/charts.js"></script>

<!-- Why Sponsor Starts -->
<section>
  <div class="container">
{% gblock "showcase_benefits" for "gblocks.Text" %}
  </div>

{% include "frontend/sponsors_benefits.html" %}

  <div class="container">
    {% gblock "sponsors_1" for "gblocks.Text" %}
  </div>
</section>

{% include "frontend/faq_box.html" %}

{% endblock content %}

{% block scripts %}

{% endblock scripts %}
