<form id="register-interest-form" action="" method="GET">
  <div class="form-group">
    <small id="emailHelp" class="form-text text-muted">Subscribe to receive ticket and program updates from PyBay.</small>
    <input type="text" class="form-control input-sm" id="tito-register-name" placeholder="Name">
  </div>
  <div class="form-group">
    <input type="email" class="form-control input-sm" id="tito-register-email" placeholder="Enter email">
  </div>
  <button type="submit" class="btn btn-primary btn-xs">Submit</button>
  <h2 id="tito-thanks" style="display:none;">Thanks!</h2>
</form>
