.skylineback {
    background-image: url(../../new/img/PyBay-SF-Background-grey.gif);
    background-repeat: no-repeat;
    background-position: center top;
    min-height: 300px;
}

.skylineback2 {
    background-image: url(../../new/img/PyBay-SF-Background-grey-small.gif);
    background-repeat: repeat-x;
    background-position: center top;
    border-bottom: 1px solid #CCC;
    min-height: 100px;
    margin-top: 20px;
}

section.grey-box {
    background-color: #f5f5f5
}
