// Nothing else should be added here, they should be added in another file
// with more meaningful names

section.topics.duplicatable-content{
    padding-top: 150px;
}
section.topics.duplicatable-content.home-page {
    padding-top: 72px;
}

.code_of_conduct h1 {
  padding-top: 100px;
}

@media(max-width: 767px) {
  .code_of_conduct h1 {
    padding-top: 50px;
  }
}

// Nothing else should be added here, they should be added in another file
// with more meaningful names
