/* Call For proposals Form Start */
#id_first_name, #id_last_name, #id_email, #id_phone, #id_website {
    width: 300px;
    border: 1px solid #bfbfbf;
    box-shadow: 8px 5px 5px #dedede;
}
#id_category, #id_audience_level {
    width: 340px;
    border: 1px solid #bfbfbf;
    box-shadow: 8px 5px 5px #dedede;
}
#id_talk_title{
    width: 400px;
    border: 1px solid #bfbfbf;
    box-shadow: 8px 4px 4px #dedede;
}
#id_description, #id_speaker_bio, #id_abstract, #id_what_will_attendees_learn, #id_speaker_and_talk_history {
    width: 400px;
    height: 200px;
    border: 1px solid #bfbfbf;
    box-shadow: 8px 5px 5px #dedede;
}
/* Call For proposals Form End */
.form-control.textarea {
   color: black;
   font-size: 16px;
}

.form-control.textinput,#id_email.emailinput, #id_speaker_bio.speakerbioinput,#id_website.urlinput {
    -moz-box-sizing: border-box;
    font-size: 16px;
    height: 100%;
    width: 100%;
    color: black;
}
#id_email.emailinput,#id_website.urlinput {
    width: 300px;
    height: 100%;
}

.blue-header{
    color: #428bca;
}