
.speakers-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 18px;
}

.speaker {
  margin: 18px;
  max-width: 240px;
}

.speaker .image-holder {
  display: inline-block;
}


