{% extends "frontend/base.html" %}

{% block content %}
<section class="jobs">
  <div class="container">

    <div class="row">
      <div class="page-header no-border">
        <ol class="breadcrumb">
          <li><a href="..">Job Postings</a></li>
          <li>{{ job.title|safe }}</li>
        </ol>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <h1>{{ job.title|safe }}</h1>
        <div class="well">
          {% if "<p>" in job.details %}
            {{ job.details|safe }}
            {% else %}
          <p>{{ job.details|safe }}</p>
          <br>
          {% endif %}
          {% if job.link %}<p><a class="btn btn-primary" href="{{ job.link }}" role="button">Apply</a></p>{% endif %}
        </div>
      </div>
      <div class="col-md-4">
        {% if job.logo %}<img class="featurette-image img-responsive center-block" src="{{job.logo.url }}" alt="{{job.title}}" width="300">{% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        {% if "<p>" in job.details %}
          {{ job.lengthy_details|safe }}
        {% else %}
          <p>{{ job.lengthy_details|safe }}</p>
        {% endif %}
      </div>
    </div>
    <hr class="featurette-divider">
  </div>
</section>
{% endblock %}
