{% extends "frontend/base.html" %}
{% load generic_flatblocks %}

{% block content %}
<section class="jobs">
  <div class="container">
    <div class="row">
      <div class="page-header no-border">
        <ol class="breadcrumb">
          <li>Job Postings</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
      {% gblock "job-index-text" for "gblocks.Text" %}
      </div>
    </div>

    {% for job in jobs %}
    <div class="row">
      <div class="col-md-8">
        <h2 class="blue-title"><a href="{{ job.get_absolute_url }}">{{ job.title|safe }}</a></h2>
        <h3>{{ job.company }} ~ {{ job.location }}</h3>
        <p>{{ job.details|safe }}</p>
      </div>
      <div class="col-md-4">
        {% ifchanged job.logo %}
        {% if job.logo %}<img class="img-responsive" align="right" src="{{job.logo.url }}" alt="{{job.title}}" width="200">{% endif %}
        {% endifchanged %}
      </div>
    </div>
    <div class="row">
          <a class="btn btn-sm btn-success" href="{{ job.get_absolute_url }}" role="button">Learn More</a>
          {% if job.link %}<a class="btn btn-sm btn-primary" href="{{ job.link }}" role="button">Apply</a>{% endif %}
      <hr>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
